  <div class="content">
      <h4>My Lists</h4>

      <table class="table table-striped todolist-table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Days left</th>
            <th>Complete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in listItems.todoItems"  ng-class="{'item-done': item.complete}">
            <td><edit-item><span class="item-field" contenteditable="false">{{ item.name }}</span> <span class="glyphicon glyphicon-pencil edit-item"></span></edit-item></td>
            <td>{{ item.daysLeft }}</td>
            <td><div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="item.complete">
                  </label>
                </div>
            </td>
          </tr>
        </tbody>
      </table>

      <a ng-click="newItem();" class="js-new-item btn btn-primary">New item</a>


  </div> <!-- /content -->
